<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar> <img id="profile-img" class="icon" src="assets/icon.png" ></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/cart">Cart</a>
      <!-- <a mat-list-item href="#">Orders</a> -->
      <a mat-list-item href="#">Feedback</a>
      <a mat-list-item (click)=" logout()">logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     
    </mat-toolbar>
    <!-- Add Content Here --><br><br>
    <div>
      <app-customer></app-customer>
      
    </div>
    

  </mat-sidenav-content>
  
</mat-sidenav-container>
