
<div *ngIf="!product;else other_content">
    <div class="container">
        <br>
        <h4 style="color: green;">Shop By Category. </h4>
        <br> 
        <div class="row" id="ads">
       
        <div  *ngFor="let obj of pc"> 
               
            <div class="md-8-8 px-5">
                    
                <div class="card rounded">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/{{obj.imageUrl}}" alt="Alternate Text" /> 
                    </div>
                    <div class="card-image-overlay m-auto">
                        
                    </div>
                    <div class="card-body text-center">
                        <div class="ad-title m-auto">
                            <h5> </h5>
                        </div>
                     <input type="button" class="ad-btn" (click)=" getProductByCategory($event)" id="{{obj.categoryId}}" value="{{obj.categoryName}}"> 
                    </div>
                </div>
            </div><br>
        </div>
   
        
    </div>
    </div> 
</div>
<div *ngIf="product;else other_content">
    <div class="container">
        <br>
      
        <br> 
        <div class="row" id="ads">
       
        <div  *ngFor="let obj of product"> 
               
            <div class="md-8-8 px-5">
                    
                <div class="card rounded">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/{{obj.imageUrl}}" alt="Alternate Text" />
                    </div>
                    <div class="card-image-overlay m-auto">
                        
                    </div>
                    <div class="card-body text-center">
                        <div class="ad-title m-auto">
                            <h5>{{obj.productName}} </h5>
                        </div>
                        <div>
                            {{obj.price}}₹
                        </div>
                     <input type="button" class="ad-btn" (click)="addtocart($event)" id="{{obj.productId}}" value="Add to Cart"> 
                    </div>
                </div>
            </div>
        </div>
    
        
    </div>
    </div> 
</div> 
            
           
            <!-- <input type="hidden" value={{obj.categoryId}} id="{{obj.categoryId}}" name="cids">
            <div *ngFor="let route of obj.products">
                     -->
 



         